.login_div{
    padding: 40px;
    border: 3px solid #ccc;
    border-radius: 25px;
    width: 600px;
    background-image: url('./../imgs/poke2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    animation: movement 45s linear infinite;
}

.registry_div{
    padding: 40px;
    border: 3px solid #ccc;
    border-radius: 25px;
    width: 600px;
    background-color: #d2d2d2;
}

@keyframes movement {
    0% {background-position: 0% 20%;}
    10% {background-position: 100% 40%;}
    20% {background-position: 0% 60%;}
    30% {background-position: 100% 80%;}
    40% {background-position: 0% 100%;}
    50% {background-position: 100% 80%;}
    60% {background-position: 0% 60%;}
    70% {background-position: 100% 40%;}
    80% {background-position: 0% 20%;}
    90% {background-position: 100% 0%;}
    100% {background-position: 0% 20%;}
}

.login_form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #343a40;
    border-radius: 10px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
}

h1{
    color: #fff;
    font-size: 30px;
}

.label{
    width: 200px;
    display: inline-block;
    text-align: center;
    border: 2px solid #CCC;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom:0 !important;
    height: 30px;
    color: #fff;
    background-color: #343a40;
}

.input{
    width: 300px;
    display: inline-block;
    border: 2px solid #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    height: 30px;
    padding-bottom: 3.3px;
    text-align: center;
    color: #343a40;
}

@media screen and (max-width: 584px){
    .label{
        border-radius: 10px;
    }
    .input{
        margin-top: 10px;
        border-radius: 10px;
        border: 2px solid #ccc;
    }
}

.no-account{
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    background-color: #343a40;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.no-account:hover{
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    background-color: var(--dark-color);
}


.no-account a{
    color: #fff;
    text-decoration: none;
}


