a, h1{
    text-decoration: none !important;
    color: #000;
}

.card{
    width: 320px;
    border-radius: 25px;
    padding: 20px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 200%;
}

.card:hover{
    background-size: 250%;
    transition: 0.3s;

}