/* import quicksanf font family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --dark-color: #23272b
}

.App {
  text-align: center;
  background-image: url('./static/imgs/pokeball.webp');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:  'Quicksand', sans-serif;
}


.btn-dark{
  border-radius: 10px !important;
  border: 2px solid #ccc !important;
}
